---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<style>
    .iframe-container {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 102.56%; /* Aspect ratio (1600 / 1560) * 100% */
        overflow: hidden;
    }
    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 150%;
        height: 100%;
        border: 0;
        transform: scale(0.4); /* Adjust this value to scale the iframe content */
        transform-origin: 0 0; /* Keeps the scaling from the top left corner */
    }
</style>

<div class="iframe-container">
    <iframe src="{{ site.baseurl }}/assets/mikePres/mikePres.html"></iframe>
</div>

{% comment %}
{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
{% endcomment %}
