---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<iframe src="{{ site.baseurl }}/assets/mikePres/mikePres.html" width="1560" height="1600"></iframe>

<iframe src="{{ site.baseurl }}/assets/mikePres/mikePres.html" width="560" height="1600"></iframe>

<iframe src="{{ site.baseurl }}/assets/mikePres/mikePres.html" width="60%" height="60%"></iframe>

{% comment %}
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

{% endcomment %}
