.alert-box {
  background-color: #F5DEB3;
  color: #45078c;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #4B0082;
  opacity: 0.3;
  box-shadow: 12px 17px 20px 10px #AFACAC, 5px 5px 10px 1px #000;
}
